.nav {
    background-color: #33393D;
    grid-area: n;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #FFCD24;
    transition: 0.2s linear;
}

.item a.active {
    color: #FFCD24;
    padding: 5px;
}

.myFriends {
    margin-top: 50px;
}