.wrapper {
    display: grid;
    height: auto;
    grid-template-areas:
          "h h h"
          "a n c"
          "a n c";
    grid-template-columns: 2fr 9fr 10fr;
    width: 991px
}

.header {
    height: 200px;
    width: 1000px;
    grid-area: h;
}

.header > img {
    width: 991px;
}

.avatar {
    padding: 10px;
    grid-area: a;
}

.fullNameUser {
    color: #FFCD24;
    font-weight: bold;
    font-size: 30px;
    grid-area: n;
    padding: 5px;
}

.status {
    color: #292929;
    font-size: 16px;
}

.edit_status {
    outline: none;
    border: 2px solid #FFCD24;
    resize: none;
    font-weight: bold;
    font-size: 15px;
}

.mainContacts {
    color: white;
    font-size: 15px;
    grid-area: c;
    padding: 10px;
}

.lookingForAJob {
    color: white;
    font-size: 15px;
    grid-area: n;
    margin-top: 90px;
}

.lookingForAJob > div {
    padding: 5px;
}

.lookingForAJob > div span {
    color: gold;
}

.mainContacts .contacts {
    padding: 10px;
    color: gold;
    font-weight: bold;
    font-size: 20px
}

.items > div span {
    color: gold;
}


