.item {
    display: flex;
    color: white;
    margin-top: 10px;

}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.post {
    padding: 13px 5px;
}

.likes {
    position: relative;
    padding: 10px;
    top: 15px;
    font-size: 15px;
    color: #FFCD24;
}

.likes img {
    position: relative;
    top: 5px;
    width: 18px;
    height: 20px;
    right: 3px;
    border-radius: 0px;
}