.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;
  grid-template-areas:
          "h h"
          "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  background-color: #FFCD24;
  grid-area: h;
}

.header img {
  width: 90px;
}

.nav {
  background-color: #33393D;
  grid-area: n;
}

.content {
  background-color: #666B6E;
  grid-area: c;
}

.content img {
  height: 200px;
  grid-area: c;
}